@charset 'UTF-8';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

h2,
h3,
p {
  line-height: 1;
}

body {
  background: #111;
  color: #fafafa;
}

@media (min-width: 760px) {
  body {
    font-size: 20px;
  }
}

/* ------fv------------ */
.fv {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  width: 100%;
  position: relative;
}

.title {
  display: none;
}

.navigation {
  width: 32%;
  margin-left: auto;
}

.navigation__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 96px;
}

.navigation__item {
  font-size: 0.8em;
}

.navigation__item-present {
  border-bottom: 1px solid #fafafa;
}

.fvContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.fv__title {
  font-size: 2em;
  margin-bottom: 1em;
}

.fv__text {
  cursor: pointer;
  text-align: center;
}

.fvContainer-white {
  color: #111;
  top: 64%;
  width: 100%;
}

.white-text {
  margin-bottom: 1em;
}

@media (min-width: 760px) {
  .navigation {
    width: 24%;
  }
}

@media (min-width: 1024px) {
  .navigation {
    width: 16%;
  }
}

/* section 共通 */
.about,
.sectionBundle {
  padding: 0 16px;
}

.sectionTitle {
  font-size: 2em;
  margin-bottom: 1.41em;
}

.sectionTitle-vision,
.sectionTitle-strength,
.sectionTitle-benefit {
  opacity: 0;
}

.sectionWrapper {
  margin-bottom: 6em;
}

.sectionWrapper-vision,
.sectionWrapper-strength,
.sectionWrapper-benefit {
  opacity: 0;
}

.sectionHeading {
  font-size: 1.5em;
  margin-bottom: 1.33em;
  font-weight: normal;
}

.about__text,
.vision__text,
.strength__text,
.benefit__text {
  font-size: 0.8em;
  margin-bottom: 1em;
}

/* -----about------- */

.visible {
  position: relative;
  margin-bottom: 2em;
  opacity: 0;
}

.visible::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 24%;
  background: linear-gradient(to bottom, #111, transparent);
  z-index: 10;
}
.visible::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24%;
  background: linear-gradient(to top, #111, transparent);
  z-index: 10;
}

.textContainer-about {
  opacity: 0;
}

.social__list {
  display: flex;
}

.social__item {
  font-size: 0.8em;
  line-height: 1;
  margin-right: 2em;
}

@media (min-width: 760px) {
  .sectionWrapper-about {
    display: flex;
    justify-content: space-between;
  }

  .visible {
    margin-bottom: 0;
    flex-basis: 40%;
  }

  .textContainer-about {
    align-self: center;
    flex-basis: 50%;
  }

  .sectionBundle {
    display: flex;
    flex-wrap: wrap;
  }

  .vision,
  .strength {
    flex-basis: 50%;
  }
}

@media (min-width: 1024px) {
  .about,
  .sectionBundle {
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
  }

  .about {
    height: 100vh;
    position: relative;
  }

  .sectionWrapper-about {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* -------work--------- */

canvas {
  margin: 0;
     position: fixed;
    top: 0;
    left: 0;
}

.header-work {
  position: absolute;
  width: 100%;
  z-index: 100;
}


.btn {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  color: #fafafa;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;
}